VITE_SUPABASE_URL=https://jtzyyiucmjxjpgoebcna.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imp0enl5aXVjbWp4anBnb2ViY25hIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY5Mzk2NTAsImV4cCI6MjA5MjUxNTY1MH0.FtFEgG5kE3A6AGERhepEMdH-mwyVQs1ypYnm6r3XShk
VITE_API_URL=http://localhost:5000
VITE_SOCKET_URL=http://localhost:5000